{% extends "app/header_layout.html" %}

{% block content %}
<div class="container d-flex align-items-center justify-content-center">
    <div class="row">
        <form action="/convert" method="post" class="text-center centered" style="width: 600px" enctype="multipart/form-data">
            {% csrf_token %}
            <label for="files" class="form-label">Multiple files input example</label>
            <input class="form-control" type="file" id="files" name="images" multiple>
            <button type="submit" class="btn btn-primary my-3">Convert</button>
        </form>
    </div>
</div>
{% endblock %}